body {
    background-image: url(../css/images/hogwarts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bestFriendModal {
    text-align: center;
}

#bestFriendPhoto {
    max-width: 100%;
    height: auto;
}

.jumbotron {
    margin: auto;
    padding: 10px;
    background-color:  rgba(245, 245, 220, 0);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    color: green;
    font-size: 30px;
}

